/**/
.container {
  background-color:#0D0D0D;
}
h1 {
  text-align: center;
}
/* Font Color */
.color {
  color: #ffffff;
}
.corpo {
  margin-top: 99px; 
}
button {
  background-color:#F27405;
  color: white;
  font-size: 10px;
}
.jumbotron {
margin-top: 40px;
background-image: url(../../res/images/fundo-pizza.jpg);
background-repeat: no-repeat;
background-position: 50%;
background-size: 100%;
}